<a href="https://colab.research.google.com/github/emmanhok/challenge-alura-store/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [3]:
# Aquí estuve investigando sobre cómo obtener los datos de una determinada columna
#tienda['Precio']
# Una vez he investigado ello, probé la forma de obtener la suma de todos los precios a través de la función integrada sum()
# Cálculos del ingreso total de cada tienda
ingreso_total_tienda = sum(tienda['Precio'])
print(f'El ingreso total de la tienda 1 es: {ingreso_total_tienda}')
ingreso_total_tienda2 = sum(tienda2['Precio'])
print(f'El ingreso total de la tienda 2 es: {ingreso_total_tienda2}')
ingreso_total_tienda3 = sum(tienda3['Precio'])
print(f'El ingreso total de la tienda 3 es: {ingreso_total_tienda3}')
ingreso_total_tienda4 = sum(tienda4['Precio'])
print(f'El ingreso total de la tienda 4 es: {ingreso_total_tienda4}')

El ingreso total de la tienda 1 es: 1150880400.0
El ingreso total de la tienda 2 es: 1116343500.0
El ingreso total de la tienda 3 es: 1098019600.0
El ingreso total de la tienda 4 es: 1038375700.0

# 2. Ventas por categoría

In [ ]:
# En un primer momento realizo esto para probar si entiendo la lógica de cómo acceder a las categorías y poder contar la cantidad de ventas en ellas
#def contador_categoria_electronicos(tienda):
#  contador = 0
#  for i in range(len(tienda['Categoría del Producto'])):
#    if tienda['Categoría del Producto'].iloc[i] == 'Electrónicos':
#      contador += 1
#  return contador
#contador_categoria_electronicos(tienda)  # Aqui solo comprobaba que me diera el resultado esperado tel total de ventas de categoria electronicos de la p1rimera tienda

In [ ]:
# Una vez entendi el acceso a las categoria procedere a realizar un codigo que me permita
# automatizar el conteo de ventas de diversas categorias para aplicarlo a cada tienda

In [4]:
# Primero crearé un diccionario para poder iterar más facilmente las categorias en las diversas tiendas
tiendas = {
    'Tienda 1': tienda,
    'Tienda 2': tienda2,
    'Tienda 3': tienda3,
    'Tienda 4': tienda4
}

In [5]:
# Funcion para obtener la cantidad de categorías de las tiendas
def contador_categorias(df): # Con df me refiero a los DataFrame de cada tienda
  conteo_de_categorias = {} # Creo un diccionario para almacenar el conteo de las categorias
  # Utilizo un ciclo for para iterar cada columna de 'Categoría del Producto'
  for i in range(len(df['Categoría del Producto'])):
    categoria = df['Categoría del Producto'].iloc[i] # Aqui obtengo la categoría actual [i]
    # Con un condicional reviso que si la categoría si está en el diccionario se incrementa en 1 el contador
    if categoria in conteo_de_categorias:
      conteo_de_categorias[categoria] += 1 # Incremento en 1
    else:
      conteo_de_categorias[categoria] = 1
  return conteo_de_categorias

In [11]:
# A continuación imprimo a modo de títulos lo siguiente:
print('Cantidad de productos vendidos por categoría de cada tienda:\n')
# Con un ciclo for ire iterando sobre los items del diccionario tiendas creado mas arriba
# en cada tienda y cada df de ellas segun la funcion anterior
for nombre_tienda, df_tienda in tiendas.items():
  print(f'{nombre_tienda}:\n')
  ventas_por_categoria = contador_categorias(df_tienda) #Llamado a la funcion anterior desde cada tienda
  # Ordenamiento desde las categorías más populares a las menos populares en una lista de tuplas con sorted()
  ordenamiento_ventas_categorias = sorted(ventas_por_categoria.items(), key=lambda item: item[1], reverse=True)
  # Impresión de la lista de tuplas obtenidas en el ciclo for anterior
  for categoria, cantidad in ordenamiento_ventas_categorias:
    print(f'{categoria}: {cantidad}')
  print('\n')

Cantidad de productos vendidos por categoría de cada tienda:

Tienda 1:

Muebles: 465
Electrónicos: 448
Juguetes: 324
Electrodomésticos: 312
Deportes y diversión: 284
Instrumentos musicales: 182
Libros: 173
Artículos para el hogar: 171


Tienda 2:

Muebles: 442
Electrónicos: 422
Juguetes: 313
Electrodomésticos: 305
Deportes y diversión: 275
Instrumentos musicales: 224
Libros: 197
Artículos para el hogar: 181


Tienda 3:

Muebles: 499
Electrónicos: 451
Juguetes: 315
Electrodomésticos: 278
Deportes y diversión: 277
Libros: 185
Instrumentos musicales: 177
Artículos para el hogar: 177


Tienda 4:

Muebles: 480
Electrónicos: 451
Juguetes: 338
Deportes y diversión: 277
Electrodomésticos: 254
Artículos para el hogar: 201
Libros: 187
Instrumentos musicales: 170

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda